@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jersey+10&display=swap');

:root {
    --corPrimaria: #210124;
    --corSecundaria: #EFF6EE;
    --corTerciaria: #B98EA7;
    --fonte: 'DM Sans', sans-serif;
    --fonteNome: "Caveat", cursive;
}

* { /* reset */
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--corPrimaria);
    color: var(--corSecundaria);
}

.cabecalho {
    display: flex;
    padding-left: 17%; 
    background-color: var(--corTerciaria); 
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );   
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 10vh;
    z-index: 2; /* coloquei isso para outros elementos que usam position ficar um nivel abaixo desse. Assim, o glass efect vai funcionar tranquilamente */
}

.meu-nome {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.2%;
    margin-left: 2%;
    font-size: xx-large;
    font-family: var(--fonteNome);
}

.cabecalho__nav {
    display: flex;
    gap: 80px;
    position: absolute;
    top: 0;
    margin-top: 1%;
}

.cabecalho__nav__button {
    color: var(--corTerciaria);
    background-color: var(--corPrimaria);
    font-family: var(--fonte);
    font-size: 1.5rem;
    font-weight: 600;
    border-style: none;
    margin-bottom: 20%;
    background-color: transparent;
}

.cabecalho__nav__button:hover {
    color: var(--corSecundaria);
    transition: 0.5s;
    cursor: pointer;
}

.cabecalho__adicionais {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 70%;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.5%;
    margin-right: 2%;
}

.adicionais__texto-musica {
    font-family: var(--fonte);
    font-size: 18px;
    transition: color 0.25s ease;
}

.adicionais__switch-div {
    display: inline-block;
    background: #ccc;
    border-radius: 1.6rem;
    width: 5rem;
    height: 2.5rem;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.adicionais__switch-div:before, .adicionais__switch-div:after {
    content: "";
}

.adicionais__switch-div:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    transition: left 0.25s;
}

.adicionais__switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
}

.adicionais__switch:checked + .adicionais__switch-div {
    background: var(--corTerciaria);
}

.adicionais__switch:checked + .adicionais__switch-div:before {
    left: 2.8rem;
}

.adicionais__switch {
    position: absolute;
    visibility: hidden;
}

.titulo-principal {
    font-size: 200%; 
    text-align: center;
    position: absolute; /* Posiciona o contêiner do título absolutamente */
    top: 12.5%; /* Coloca o contêiner no topo da seção */
    left: 50%; /* Alinha o contêiner horizontalmente no meio da seção */
    transform: translateX(-50%); /* Corrige o deslocamento para o centro */
    z-index: 1;
    display: inline-block;
    width: 100%;
}

.apresentacao {
   padding: 0% 17% 
}

.container { /* um padrao de container */
    font-family: var(--fonte);
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90vh;
    gap: 200px;
}

.secao__home {
    height: 100vh;
    align-items: center;
}

.apresentacao__principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.titulo-destaque {
    color: var(--corTerciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.43rem;
}

.apresentacao__links__texto {
    font-family: var(--fonte);
}

.apresentacao__links__style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: var(--corSecundaria);
    font-size: 1.25rem;
    font-weight: 600;
    width: 45%;
    text-align: center;
    text-decoration: none;
    border-style: outset;
    border-radius: 13px;
    border: 2px solid var(--corTerciaria); /* estiliza a borda, o primeiro parametro é o tamanho dela, o segundo é o estilo dela e o terceiro é a cor */ 
    padding: 16px 0;
}

.apresentacao__links__navegacao:hover {
    border: 2px solid var(--corTerciaria);
    background-color: var(--corTerciaria);
    font-weight: 800;
    transition: 0.4s;
}

.apresentacao__links__link__Images {
    width: 10%; /* alterou a altura e o comprimento das imagens para se ajustar com o texto.*/
    filter: grayscale(100%) brightness(0) invert(100%); /* deixando a imagem branca */ 
      
}

.apresentacao__imagem {
    width: 70%;
}

.apresentacao__conteudo__titulo {
    font-size: 2.18rem;
    text-align: center;
    height: 10vh;
    display: inline-block;
    width: 100%;
}

.secao__sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1%;
}

.imagem-secundaria {
    width: 40%;
}

.textos-sobre-mim {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.imagem-sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
}

.secao__habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.mirror-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 10%;
    height: 30%;
    width: 30%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(255, 255, 255, 0.39);
}

.habilidades__imagem {
    width: 50%;
}

.habilidades__texto {
    font-size: 110%;
    text-align: center;
    margin: 0 5% 0 5%;
}

.secao__portfolio {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 50px;
}

.portfolio__center {
    font-size: xx-large;
    color: var(--corTerciaria);
}

.portfolio__nome-projeto {
    font-size: x-large;
}

.portfolio__projeto {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 1%;
}

.last {
    margin-bottom: 5%;
}

.portfolio__descricao {
   font-size: x-large;
   padding-right: 1%;
}

.portfolio__imagem {
    width: 120%;
    height: 400px;
}

.rodape {
    color: var(--corPrimaria);
    background-color: var(--corTerciaria);
    padding: 0.5%;
    text-align: center;
    font-family: var(--fonte);
    font-size: 1.5rem;
    font-weight: 400;
}

.creditos {
    font-size: 15px;
}

@media (max-width: 1060px) { /* (para telas mobile) isso é aplicado apenas se o tamanho da tela for no MAXIMO de 1060, maior que isso a outra estilização é aplicada. */

    .cabecalho {
        padding: 6%;   
        gap: 10px; 
    }

    .cabecalho__nav {
        justify-content: center;
    }

    .cabecalho__adicionais {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-left: 10%;
        cursor: pointer;
    }

    .apresentacao {
        padding: 5%;
        gap: 60px;
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.9rem;
    }

    .apresentacao__links__navegacao {
        width: 270px; /* coloquei em px porque senti que a visualização mobile ficaria melhor assim, com '%' a adaptação fica um pouco desconfortavel em um determinado ponto*/
    }

    .apresentacao__links__link__imagens {
        width: 30px; /* alterou a altura e o comprimento das imagens para se ajustar com o texto.*/
          
    }

    .apresentacao__imagem {
        width: 40%;
    }

}
/* exemplo de comentario no css*/
        